bind_addr = "0.0.0.0"
data_dir = "/var/lib/nomad"
plugin_dir = "/usr/local/share/nomad-plugins"
region = "{{ nomad_dc }}"
datacenter = "{{ nomad_dc }}"
name = "{{ ansible_hostname }}.node"

advertise {
  # We need to specify our host's IP because we can't
  # advertise 0.0.0.0 to other nodes in our cluster.
  rpc = "{{ ansible_default_ipv4.address }}:4647"
}

client {
  enabled = true
  servers = {{ nomad_retry_join }}
  
  {% for name in nomad_volumes %}
    {% if "host" not in nomad_volumes[name] or ansible_hostname == nomad_volumes[name].host %}
  host_volume {{ name }} {
    path = "{{ nomad_volumes[name].path }}"
    read_only = false
  }
    {% endif %}
  {% endfor %}

  host_network "local" {
    cidr = "192.168.0.0/16"
  }

  host_network "tailnet" {
    cidr = "100.64.0.0/10"
  }
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

vault {
  enabled = true
  address = "http://jessie.home.analogrelay.net:8200"
}

plugin "usb" {
  config {
    included_vendor_ids = [0x0bda, 0x051d, 0x0658]
    fingerprint_period = "5s"
  }
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}